@model IEnumerable<Question3.Models.Expense>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div> 
        <table style="margin-left:350px;margin-top:50px">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Amount</th>
                    <th>Note</th>
                    <th>Date</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item1 in Model)
            {
                    <tr>
                        <td style="padding-right:80px">
                            @item1.Categorys.Name
                        </td>
                        <td style="padding-right:80px">
                            @Html.DisplayFor(modelItem => item1.Amount)
                        </td>
                        <td style="padding-right:80px">
                            @Html.DisplayFor(modelItem => item1.Note)
                        </td>
                        <td style="padding-right:80px">
                            @Html.DisplayFor(modelItem => item1.Date)
                        </td>
                        <td><a id="modalLink" class="btn btn-warning btn-sm pull-left" onclick="deleteExpense(@item1.id)" style="margin-right:50px">Delete</a></td>
                        <td><a class="btn btn-danger btn-sm pull-left" onclick="javaSend('@Url.Action("Edit","Home",new { id=item1.id})')">Edit</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>

<script>
    //have something wrong here ://
    function deleteExpense(id) {
        var confirmation = confirm("Are you sure?");
        if (confirmation) {
            var link = "/Home/Delete/" + id;
            $("modalLink").Attr("href", link);
        }
        return confirmation;
    }
</script>
<script>
    function javaSend(url) {
        window.location = url;
    }
</script>
